* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.header {
  height: 100px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.17);
  border: solid 1px #ececec;
  background-color: #ffffff;
}
.header__content {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.header__left, .header__right {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.logo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-decoration: none;
}
.logo p {
  font-size: 27px;
  font-weight: 300;
  letter-spacing: 0.68px;
  text-align: center;
  color: #222222;
}
.logo p span {
  font-weight: 900;
  color: #f16d7f;
}

.form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 37px;
}
.form_browse {
  text-align: center;
  width: 87px;
  height: 39px;
  border: solid 1px #e6e6e6;
  background-image: linear-gradient(to top, #f9f9f9, #f5f5f5);
  font-size: 14px;
  font-weight: 300;
  color: #222222;
}
.form__input {
  width: 317px;
  height: 37px;
  border: solid 1px #e6e6e6;
  background-color: #ffffff;
}
.form__search {
  width: 36px;
  height: 39px;
  border: solid 1px #e6e6e6;
  background-color: #ffffff;
}

.logo__img {
  margin-right: 13px;
}

.cart {
  margin-right: 26px;
}

.my_acc {
  font-family: sans-serif;
  color: #ffffff;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-decoration: none;
  background-color: #f16d7f;
  display: block;
  width: 130px;
  height: 38px;
}

.drop {
  border-radius: 5px;
  background-color: #ffffff;
  border: 1px solid #ececec;
  padding: 20px;
  margin-right: 46px;
  display: none;
  position: absolute;
  top: 48px;
}
.drop__menu {
  list-style: none;
}
.drop__h3 {
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.35px;
  color: #646464;
  border-bottom: 1px solid #e8e8e8;
  padding: 8px 0 8px 0;
  text-transform: uppercase;
}
.drop__link {
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.35px;
  color: #4f4f4f;
  text-decoration: none;
  padding-right: 32px;
}
.drop__link:hover {
  color: #f16d7f;
}
.drop__flex {
  width: 235px;
}
.drop__flex:last-of-type {
  margin-right: 0;
}
.drop_right:before {
  left: auto !important;
  right: 10px;
}
.drop_right {
  right: 0;
}
.drop:before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-color: #fff;
  position: absolute;
  top: -6px;
  left: 31px;
  transform: rotate(45deg);
  border-top: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
}

.menu {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.menu__list {
  position: relative;
}
.menu__list:hover .drop {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.menu__link {
  padding: 20px;
  display: block;
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  text-align: left;
  color: #222222;
  text-transform: uppercase;
  text-decoration: none;
}
.menu__link:hover {
  color: #f16d7f;
}

.products__header {
  height: 35px;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0.35px;
  color: #9f9f9f;
}
.products__header h3 {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 0.75px;
  color: #222222;
}
.products__content {
  padding-top: 63px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.products__item {
  position: relative;
  width: 261px;
  height: 364px;
  margin-bottom: 39px;
}
.products__text {
  font-size: 14px;
  color: #222222;
  text-transform: uppercase;
  font-weight: bold;
  padding: 20px 14px;
}
.products__text p {
  margin-top: 16px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  color: #f16d7f;
}
.products__img {
  width: 100%;
  display: block;
  height: 280px;
}
.products__star {
  display: none;
}
.products__item:hover {
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.16);
}
.products__item:hover .products__add {
  display: block;
}
.products__item:hover .products__star {
  display: block;
}
.products__item:hover .products__img {
  filter: brightness(50%);
}
.products__add:hover {
  box-shadow: 0 0 10px #fff;
}
.products__button {
  margin: 79px auto auto auto;
  text-decoration: none;
  display: block;
  width: 212px;
  height: 48px;
  background-color: #f16d7f;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  line-height: 54px;
  letter-spacing: 0.4px;
  text-align: center;
}
.products__add {
  position: absolute;
  top: 98px;
  left: 70px;
  display: none;
  text-decoration: none;
  font-size: 13px;
  text-align: center;
  line-height: 39px;
  color: #ffffff;
  width: 123px;
  height: 39px;
  border: solid 1px #ffffff;
}

.promo {
  height: 614px;
  background-color: #e8e8e8;
}
.promo__text {
  line-height: 40px;
  font-size: 40px;
  padding-left: 12px;
  font-weight: 900;
  margin-top: 224px;
  float: left;
  color: #222222;
  border-left: 12px solid #f16d7f;
}
.promo__text_big {
  font-size: 60px;
  letter-spacing: 1.5px;
}
.promo__content {
  height: 100%;
  background-image: url("img/promo.jpg");
  background-position: 0 -51px;
}

.offer {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.offer__content div:first-child {
  margin-bottom: 20px;
}
.offer__content_big {
  width: 560px;
  height: 542px;
  background-color: #ccc;
}
.offer__content_mini {
  width: 560px;
  height: 241px;
  background-color: #eee;
}
.offer__text {
  font-weight: 900;
  font-size: 18px;
  background-color: #fff;
  padding: 16px 20px;
  float: left;
  margin-top: 26px;
  text-transform: uppercase;
}
.offer__text span {
  font-size: 30px;
  color: #f16d7f;
}

.features__offer {
  background-color: #222224;
  height: 529px;
  margin-top: 132px !important;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.features__text {
  position: absolute;
  top: 146px;
  left: 39px;
}
.features__small {
  font-weight: bold;
  letter-spacing: 0.8px;
  text-align: left;
  color: #ffffff;
  font-size: 32px;
}
.features .big {
  font-size: 53.5px;
}
.features__small span {
  color: #f16d7f;
}
.features__img {
  filter: brightness(50%);
}
.features_points {
  display: flex;
  flex-direction: column;
  margin-left: 36px;
}
.features__point {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 37px;
  justify-content: space-between;
  margin-top: 61px;
}
.features__logo {
  width: auto;
  height: 35px;
}
.features__desc {
  margin-left: 33px;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.35px;
  color: #fbfbfb;
  width: 219px;
}
.features__header {
  font-size: 20px;
  font-weight: bold;
  color: #fbfbfb;
  margin-bottom: 21px;
}

.subscribe {
  margin-top: 97px;
  height: 438px;
  filter: grayscale(50%);
}

/*# sourceMappingURL=style.css.map */
