@import '/styles/header.css';
@import '/styles/menu.css';
@import '/styles/products.css';
@import '/styles/features.css';
@import '/styles/promo.css';

.promo__content {
    height: 100%;
    background-image: url('img/promo.jpg');
    background-position: 0 -51px;
}


* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Lato', sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

