//@import './styles/header.sass'
//@import './styles/menu.sass'
//@import './styles/products.sass'
//@import './styles/features.sass'
//@import './styles/promo.sass'
//@import './styles/footer.sass'
@import "vars"
@import "mixins"

*
  margin: 0
  padding: 0


body
  font-family: 'Lato', sans-serif


.container
  width: 1140px
  margin: 0 auto

.header
  height: 100px
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.17)
  border: solid 1px #ececec
  background-color: $color-white


  &__content
    height: 100%
    +flex
    justify-content: space-between


  &__left, &__right
    +flex


.logo
  +flex
  text-decoration: none

  p
    font-size: 27px
    font-weight: 300
    letter-spacing: 0.68px
    text-align: center
    color: #222222

    span
      font-weight: 900
      color: $color-pink

.form
  +flex
  margin-left: 37px


  &_browse
    text-align: center
    width: 87px
    height: 39px
    border: solid 1px #e6e6e6
    background-image: linear-gradient(to top, #f9f9f9, #f5f5f5)
    font-size: $default-font-size
    font-weight: 300
    color: #222222


  &__input
    width: 317px
    height: 37px
    border: solid 1px #e6e6e6
    background-color: $color-white


  &__search
    width: 36px
    height: 39px
    border: solid 1px #e6e6e6
    background-color: $color-white


.logo__img
  margin-right: 13px


.cart
  margin-right: 26px

.my_acc
  +font($color-white, $default-font-size)
  background-color: $color-pink
  display: block
  width: 130px
  height: 38px

.drop
  border-radius: 5px
  background-color: $color-white
  border: 1px solid #ececec
  padding: 20px
  margin-right: 46px
  display: none
  position: absolute
  top: 48px

  &__menu
    list-style: none

  &__h3
    font-size: $default-font-size
    line-height: 28px
    letter-spacing: 0.35px
    color: #646464
    border-bottom: 1px solid #e8e8e8
    padding: 8px 0 8px 0
    text-transform: uppercase

  &__link
    font-size: $default-font-size
    line-height: 28px
    letter-spacing: 0.35px
    color: #4f4f4f
    text-decoration: none
    padding-right: 32px

  &__link:hover
    color: $color-pink

  &__flex
    width: 235px

  &__flex:last-of-type
    margin-right: 0

  &_right:before
    left: auto !important
    right: 10px

  &_right
    right: 0

  &:before
    content: ''
    display: block
    width: 10px
    height: 10px
    background-color: #fff
    position: absolute
    top: -6px
    left: 31px
    transform: rotate(45deg)
    border-top: 1px solid #e8e8e8
    border-left: 1px solid #e8e8e8


.menu
  list-style: none
  +flex
  justify-content: center


  &__list
    position: relative
    &:hover
      .drop
        +flex


  &__link
    padding: 20px
    display: block
    font-size: $default-font-size
    font-weight: bold
    line-height: 26px
    text-align: left
    color: #222222
    text-transform: uppercase
    text-decoration: none


  &__link:hover
    color: $color-pink


.products
  &__header
    height: 35px
    text-align: center
    font-size: $default-font-size
    letter-spacing: 0.35px
    color: #9f9f9f


  &__header h3
    font-size: 30px
    font-weight: bold
    letter-spacing: 0.75px
    color: #222222


  &__content
    padding-top: 63px
    +flex
    justify-content: space-between


  &__item
    position: relative
    width: 261px
    height: 364px
    margin-bottom: 39px


  &__text
    font-size: $default-font-size
    color: #222222
    text-transform: uppercase
    font-weight: bold
    padding: 20px 14px

    p
      margin-top: 16px
      +flex
      justify-content: space-between
      color: $color-pink

  &__img
    width: 100%
    display: block
    height: 280px


  &__star
    display: none


  &__item:hover
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.16)


  &__item:hover &__add
    display: block


  &__item:hover &__star
    display: block


  &__item:hover &__img
    filter: brightness(50%)


  &__add:hover
    box-shadow: 0 0 10px #fff


  &__button
    margin: 79px auto auto auto
    text-decoration: none
    display: block
    width: 212px
    height: 48px
    background-color: $color-pink
    color: $color-white
    font-size: $default-font-size + 2px
    font-weight: bold
    line-height: 54px
    letter-spacing: 0.4px
    text-align: center


  &__add
    position: absolute
    top: 98px
    left: 70px
    display: none
    text-decoration: none
    font-size: 13px
    text-align: center
    line-height: 39px
    color: $color-white
    width: 123px
    height: 39px
    border: solid 1px $color-white


.promo
  height: 614px
  background-color: #e8e8e8

  &__text
    line-height: 40px
    font-size: 40px
    padding-left: 12px
    font-weight: 900
    margin-top: 224px
    float: left
    color: #222222
    border-left: 12px solid $color-pink


  &__text_big
    font-size: 60px
    letter-spacing: 1.5px

  &__content
    height: 100%
    background-image: url('img/promo.jpg')
    background-position: 0 -51px


.offer
  padding-top: 100px
  padding-bottom: 100px
  +flex
  justify-content: space-between


  &__content div:first-child
    margin-bottom: 20px


  &__content_big
    width: 560px
    height: 542px
    background-color: #ccc


  &__content_mini
    width: 560px
    height: 241px
    background-color: #eee


  &__text
    font-weight: 900
    font-size: $default-font-size + 4px
    background-color: #fff
    padding: 16px 20px
    float: left
    margin-top: 26px
    text-transform: uppercase

    span
      font-size: 30px
      color: $color-pink


.features
  &__offer
    background-color: #222224
    height: 529px
    margin-top: 132px !important
    position: relative
    +flex


  &__text
    position: absolute
    top: 146px
    left: 39px


  &__small
    font-weight: bold
    letter-spacing: 0.8px
    text-align: left
    color: $color-white
    font-size: 32px


  .big
    font-size: 53.5px


  &__small
    span
      color: $color-pink


  &__img
    filter: brightness(50%)


  &_points
    display: flex
    flex-direction: column
    margin-left: 36px


  &__point
    +flex
    margin-left: 37px
    justify-content: space-between
    margin-top: 61px


  &__logo
    width: auto
    height: 35px


  &__desc
    margin-left: 33px
    font-size: $default-font-size
    font-weight: 300
    letter-spacing: 0.35px
    color: #fbfbfb
    width: 219px


  &__header
    font-size: 20px
    font-weight: bold
    color: #fbfbfb
    margin-bottom: 21px

.subscribe
  margin-top: 97px
  height: 438px
  filter: grayscale(50%)