.promo {
    height: 614px;
    background-color: #e8e8e8;
}
.promo__text {
    line-height: 40px;
    font-size: 40px;
    padding-left: 12px;
    font-weight: 900;
    margin-top: 224px;
    float: left;
    color: #222222;
    border-left: 12px solid #f16d7f;
}

.promo__text_big {
    font-size: 60px;
    letter-spacing: 1.5px;
}
.offer {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
}
.offer__content div:first-child {
    margin-bottom: 20px;
}

.offer__content_big {
    width: 560px;
    height: 542px;
    background-color: #ccc;

}
.offer__content_mini {
    width: 560px;
    height: 241px;
    background-color: #eee;
}
.offer__text {
    font-weight: 900;
    font-size: 18px;
    background-color: #fff;
    padding: 16px 20px;
    float: left;
    margin-top: 26px;
    text-transform: uppercase;
}
.offer__text span {
    font-size: 30px;
    color: #f16d7f;
}
